html, body {
    margin: 0;
    text-align: center;
}
#grid {
    background-color: #efe;
    width: 80vmin;
    height: 80vmin;
    margin: 5vmin auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
tr {
    width: 5%;
}
td {
    border: 1px solid black;
    text-align: center;
    font-size: 5vmin;
    color: rgba(0, 0, 0, 0);
    opacity: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
td[selected] {
    background-color: #fff;
    opacity: 1;
}
td[filled] {
    color: #000;
    opacity: 1;
}
td[solved] {
    color: #0A0;
    opacity: 1;
}